<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Home/About">About</a></li>
            <li><a href="/Home/TechSkills">Tech Skills</a></li>
            <li><a href="/Home/Download">Download</a></li>
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>